<h1>Persons</h1>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Address</th>
                <th>Age</th>
            </tr>
            <tr ng-repeat="person in persons">
                <td>{{ person.id }}</td>
                <td>{{ person.name }}</td>
                <td>{{ person.address }}</td>
                <td>{{ person.age }}</td>
            </tr>
        </table>
    </div>
</div>