<!DOCTYPE html>
    <html lang="en" ng-app="bankApp">
        <head>
            <meta charset="UTF-8">
            <title>Bank</title>
            <link rel="stylesheet" href="@routes.Assets.versioned("style/index.css")">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        </head>

        <body ng-controller="mainController">
            <div class="container-fluid">
                <h1>Bank</h1>

                <a href="#!persons">Person list</a>

                <ng-view></ng-view>
            </div>

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-route.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-resource.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <script src="@routes.Assets.versioned("js/controller.js")"></script>
        </body>

    </html>